* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header-top {
  background-color: black;
}

.ul-navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: white;
}
/* to make all the child elements Flex */
.section-under-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.solarpower-article-img {
  margin: 10px 0 0 10px;
}

/* combining classes that should have the same specs */
.dolphin-article-img,
.lost-city-img {
  min-width: 250px; /* makes sure imgs dont leave their container */
  max-height: 150px;
  flex-grow: 1;
}

figcaption {
  font-size: 20px;
  margin-top: 10px;
  max-width: 100%;
}

.solarpower-text,
.dolphin-text-img,
.lost-city-text-img {
  max-width: 250px;
  margin: 10px;
}
